@media screen and (max-width: 1400px){ 
    #home {
        height: 83vh;
        margin-bottom: 6rem;
        background-size: contain;
    }
}

@media screen and (max-width: 1200px){
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 600px){
    #contact, footer {
        height: 40vh;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
}
/*
@media (max-width: 768px) {
    body {
      background-size: contain; 
    }
  }
  */